{% if user.is_authenticated %}
{% load static %}
<body>
<div class = "container">
    <div class ="row">
        <div class = "col-lg-8 offset-lg-z">

            <h3 class = "mt-5"> 초음파 센서값 : {{ result.UltraSonic }} 생성시기 {{ result.CreatedAt }}</h3>
            <img src = "{% static 'image/savedimage/{{ result.imgNum }}' %}"width = "50%", height="50%">
        </div>
    </div>
</div>
</body>
{% else %}
    <script>
        alert('로그인이 필요합니다.');
        location.href = "/";
    </script>
{% endif %}
